.s5container {
  width: 292px;
  margin: 0 auto;
}

.s5wrapper {
  background-color: #000000;
  background-size: cover;
}

.section5 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 100px 0;

  // text-align: center;
}

.s5_title {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 250px;
  letter-spacing: 3px;
  line-height: 40px;
  // margin-bottom: 50px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;

}

.slider__list {
  padding: 0;
  display: flex;
  flex-flow: column;
  // flex-wrap: nowrap;
  // position: absolute;
  justify-content: center;
  // align-items:center;
  // width: 300px;
}

.s5card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 50px 0;
  /* position: relative; */

  // margin-right: 100px;
  // margin-left: 50px;
  // text-align: center;
  // height: 500px;
  // width: 320px;
}

.s5_card_user_img {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
  line-height: 8px;
  font-size: 26px;
  font-weight: 900;
  color: #000000;
  background-color: rgb(243, 149, 255);
  padding: 20px 20px 20px 18px;
  border-radius: 50%;
}

.s5_carduser_rob {
  padding: 20px 20px 20px 16px;
}

.s5_carduser_john {
  padding: 20px 20px 20px 18px;
}


.s5kuots {
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px auto;
}

.s5mans_name {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #968690;
  // color: #dfdfdf;
  margin-bottom: 0;
  letter-spacing: 3px;
  /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; */
}

/* .mans_name:hover>.mans_job{
color: #000000;
} */

.s5mans_job {
  // display: flex;
  // flex-flow: column;
  // justify-content: center;.
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 700;
  color: #dfdfdf;
  letter-spacing: 3px;
}

.s5card_text {
  margin: 0 auto;
  text-align: center;
  /*  display: flex;
  flex-flow: row;
  justify-content: center; */
  // text-align: left;
  // margin-left: 150px
  letter-spacing: 4px;
  line-height: 18px;
  // width: 250px;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

ul {
  padding: 0;
  list-style: none;
}

// ************************************************************
@media (min-width: 768px) {
  .s5container {
    width: 708px;
  }

  .section5 {
    display: flex;
  }

  .s5mans_job {
    margin-bottom: 80px;
  }

  .s5_title {
    width: 350px;
  }

  .s5card_text {
    width: 650px;
    line-height: 30px;
  }

}

// ***************************************************************
@media (min-width: 1200px) {
  .s5container {
    width: 1145px;
  }

  .s5_title {
    width: auto;
  }

}
